<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title><i class="fa-solid fa-arrow-left" (click)="backButton()"></i>Cab Booking Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <ion-title><i class="fa-solid fa-arrow-left" (click)="backButton()"></i>Cab Booking Details</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-searchbar class="custom" (ionInput)="handleInput($event)"></ion-searchbar>
  <div class="divClass" *ngFor="let item of bookingDetails;">
  <ion-button id="trigger-button+{{item.row_count}}" class="cabDetailCard">{{item.pickup_location}}</ion-button>
  <ion-popover trigger="trigger-button+{{item.row_count}}" side="bottom" alignment="center">
  <ng-template>
    <ion-content class="ion-padding">
      <ion-grid>
        <ion-row>
          <ion-col size="5" class="border_design">Customer Name</ion-col>
          <ion-col size="1">:</ion-col>
          <ion-col size="6" class="lab">{{item.cust_name}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5" class="border_design">Phone Number</ion-col>
          <ion-col size="1">:</ion-col>
          <ion-col size="6" class="lab">{{item.cust_num}}</ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col class="border_design">Email ID</ion-col>
          <ion-col>:</ion-col>
          <ion-col class="lab">sam&#64;gmail.com</ion-col>
        </ion-row> -->
        <ion-row>
          <ion-col size="5" class="border_design">From Place</ion-col>
          <ion-col size="1">:</ion-col>
          <ion-col size="6" class="lab">{{item.pickup_location}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5" class="border_design">To Place</ion-col>
          <ion-col size="1">:</ion-col>
          <ion-col size="6" class="lab">{{item.drop_location}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5" class="border_design">Pick Up date</ion-col>
          <ion-col size="1">:</ion-col>
          <ion-col size="6" class="lab">{{item.pickup_date}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5" class="border_design">Pick Up Time</ion-col>
          <ion-col size="1">:</ion-col>
          <ion-col size="6" class="lab">{{item.pickup_time}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5" class="border_design">Return Date</ion-col>
          <ion-col size="1">:</ion-col>
          <ion-col size="6" class="lab">{{item.return_date}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5" class="border_design">Car Name</ion-col>
          <ion-col size="1">:</ion-col>
          <ion-col size="6" class="lab">{{item.car_type}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6"><div style="text-align: center !important;margin-top: 20px">
            <a href="https://wa.me/{{item.cust_num}}" target="_blank">
              <button class="btn" ion-button><ion-icon name="logo-whatsapp"></ion-icon> WhatsApp
              </button>
          </a>
          </div></ion-col>
          <ion-col size="6"><div style="text-align: center !important;margin-top: 20px">
            <a href="tel:{{item.cust_num}}"><button class="btn" ion-button><ion-icon name="call"></ion-icon> Call
            </button></a>
          </div></ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ng-template>
  </ion-popover>
  </div>
  
</ion-content>
