$BlueColor : #0ea5e9;

ion-toolbar {
    height: 100px;
}
ion-title{
    margin-top: 45px;
    text-align: center;
    font-family: "Rubik", sans-serif;

}
ion-title i{
    float: left;
}
.leavecard {
    border-radius: 10px;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 0px 16px rgba(0, 0, 0, 0.1);

  }
  .card-cont {
    margin-top: 10px;
  }
  .myLabsFT{
    font-family: "Rubik", sans-serif !important;
    font-size: 14px;
    color:#000;
  }
  ion-modal {
    --width: 320px;
    --height: 420px;
    --border-radius: 15px;
  }

  ion-datetime {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 15px;
  }
  ion-accordion-group{
    padding: 20px;
    
}
ion-accordion{
    box-shadow: 2px 0px 16px rgba(0, 0, 0, 0.1);
    
}
ion-accordion-group{
    ion-accordion {
        .ion-accordion-toggle-icon {
            font-size: 25px;
            color: #272727;
        }
    }
}
ion-label{
    font-size: 18px;
    font-weight: bold;
    color: #f5f5f5;
    font-family: "Rubik", sans-serif !important;
}
.border_design{
    font-family: "Rubik", sans-serif !important;
    font-size: 14px;
    color:#000000;
}
.lab{
    font-family: "Rubik", sans-serif !important;
    font-size: 14px;
    text-align-last: left;
    color:#000000;
}
.ion-padding{
    margin: 10px;
}
.btn {
    align-items: center;
    background-image: -webkit-linear-gradient(right, #0ea5e9, #0ea5e9, #0ea5e9, #0ea5e9);
    border: 0;
    border-radius: 15px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: 52px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    width:100%;
    margin-bottom: 10px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: transform;
    font-size: 16px;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
    padding: 0px 10px 0px 10px;
  
  }
  
  .btn:hover {
    transform: translateY(-2px);
  }
  
  .btn:active {
    transform: translateY(2px);
  } 
  ion-icon{
    margin-right: 5px;
    font-size: 20px;
  }

  ion-popover {
    --margin: 10px;
    --background: rgba(255, 255, 255, 0.6);
    --backdrop-opacity: 0.2;
    --box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    --color: white;
    --width: 90%;
    --border-radius: 20px !important;
    font-family: "Rubik", sans-serif;
  }
  
  ion-popover ion-content {
    // --background: rgba(40, 173, 218, 0.6);
  }
  ion-grid{
    margin-top: 10px;
  }
  .divClass{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cabDetailCard{
    height: 100px;
    width: 90%;
    margin: 10px 10px 5px 10px;
    --border-radius: 15px;
    --background: -webkit-linear-gradient(right, #0ea5e9, #0ea5e9, #0ea5e9, #0ea5e9);
    font-family: "Rubik", sans-serif;

  }